/* 
  CSS PROPERTY PRECEDENCE (in order of priority):

  1.  Display                 → display
  2.  Visibility & Opacity    → visibility, opacity
  3.  Positioning             → position, z-index
  4.  Layout Models           → flex, grid
  5.  Box Model Dimensions    → width, height, margin, padding
  6.  Box Appearance          → border, box-shadow, background
  7.  Typography & Text       → color, font, text-align
  8.  Effects & Motion        → transition, transform, animation
*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root {
    /* Main Colors */
    --white-smoke: #f9fafb;
    --charcoal: #374151;
    --medium-slate: #8a93a1;
    --light-slate: #a5afc0;
    --light-slate-a: #a5afc0aa;
    --amber-700: #d97706;
    --amber-500: #f59e0b;
    --rich-black: #202225;
    --light-gray: #f3f4f6;

    /* Button */
    --button-bg: var(--amber-700);
    --button-border: var(--amber-500);
    --button-hover: var(--amber-500);

    /* Shadow */
    --shadow-dark: var(--charcoal);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Preahvihear';
    font-weight: 400;
    src: url('/fonts/Preahvihear-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Potta One';
    font-weight: 400;
    src: url('/fonts/PottaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mansalva';
    font-weight: 400;
    src: url('/fonts/Mansalva-Regular.ttf') format('truetype');
}

/* RESET AND SCROLLBAR STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 100px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--medium-slate);
}

::-webkit-scrollbar-thumb {
    background: var(--amber-700);
    border: 1px solid var(--amber-500);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--amber-500);
    border-right: none;
}

/* BODY */
body {
    height: 100vh;
    font-family: 'Preahvihear', sans-serif;
}

.navbar {
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 80px;

    background-color: var(--light-slate);
    border-bottom: 1px solid var(--light-slate);
    box-shadow: 0px 6px var(--rich-black);
}

.scrolled-navbar {
    box-shadow: 6px 6px var(--rich-black);
}

.navbar-container {
    width: 20%;
    height: 60px;

    background-color: var(--light-slate);
    border: 1px solid var(--charcoal);
    box-shadow: inset 8px 8px 0px var(--charcoal);
}

.navbar button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 12%;
    height: 60px;

    background-color: transparent;
    color: var(--charcoal);
    border: 1px solid var(--charcoal);
    border-radius: 2px;
    box-shadow: 2px 2px 0px var(--rich-black);

    font-family: monospace;
    font-weight: 700;
    font-size: 1rem;
    transition: all 0.2s ease;
}

.navbar button:hover {
    background-color: var(--charcoal);
    color: var(--light-slate);
    transform: scale(1.05);
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    min-height: 60vh;
    padding: 50px 45px;

    background-color: var(--black);

    font-family: 'Preahvihear', sans-serif;
    color: var(--gray-light);
}

.footer h2 {
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
}

.ft-left {
    flex: 1;
    min-width: 150px;
    margin-bottom: 20px;
}

.ft-columns {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    flex-wrap: wrap;

    max-width: 800px;
    margin-left: auto;
    margin-right: 70px;
}

.ft-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-width: 120px;

    font-family: 'Poppins', sans-serif;
}

.ft-column a {
    color: var(--gray-light);
    text-decoration: none;
}

.log-out-button:hover {
    transform: scale(1.1);
}

#toggle-profile-btn {
    padding: 5px;
    width: 44px;
    aspect-ratio: 1/1;

    border: none;
    border-radius: 50px;
    background: none;

    font-family: 'Potta One', sans-serif;
    font-size: 1rem;

    cursor: pointer;
    transition: all 0.2s ease;
}

.profile-btn-toggled,
#toggle-profile-btn:hover {
    background-color: var(--gray-medium);
    color: var(--black);
}

.hidden {
    display: none !important;
}

.card-svg {
    shape-rendering: crispEdges;
    image-rendering: pixelated;
    filter: contrast(200%) saturate(200%) brightness(120%);
}
