/* 
  CSS PROPERTY PRECEDENCE (in order of priority):

  1.  Display                 → display
  2.  Visibility & Opacity    → visibility, opacity
  3.  Positioning             → position, z-index
  4.  Layout Models           → flex, grid
  5.  Box Model Dimensions    → width, height, margin, padding
  6.  Box Appearance          → border, box-shadow, background
  7.  Typography & Text       → color, font, text-align
  8.  Effects & Motion        → transition, transform, animation
*/

@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root {
    --white-smoke: #f9fafb;
    --charcoal: #374151;
    --charcoal-a: #374151aa;
    --dark-charcoal: #131924;
    --medium-slate: #8a93a1;
    --light-slate: #a5afc0;
    --light-slate-dark: #626974;
    --light-slate-a: #a5afc0aa;
    --amber-700: #d97706;
    --amber-500: #f59e0b;
    --rich-black: #202225;
    --rich-green: #34575a;
    --light-gray: #f3f4f6;
    --blue-a: #7cf1f1;
    --light-blue: #61aaaa;
    --purple-a: #bb62fa;
    --light-purple: #9256bd;
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    src: url('/fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Poppins';
    font-weight: 700;
    src: url('/fonts/Poppins-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Preahvihear';
    font-weight: 400;
    src: url('/fonts/Preahvihear-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Potta One';
    font-weight: 400;
    src: url('/fonts/PottaOne-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Mansalva';
    font-weight: 400;
    src: url('/fonts/Mansalva-Regular.ttf') format('truetype');
}

/* RESET AND SCROLLBAR STYLES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-padding-top: 100px;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background: var(--medium-slate);
}

::-webkit-scrollbar-thumb {
    background: var(--light-blue);
    border: 1px solid var(--blue-a);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--blue-a);
    border-right: none;
}

button {
    cursor: pointer;
}

/* BODY */
body {
    height: 100vh;
    font-family: 'Preahvihear', sans-serif;
}

.navbar {
    position: fixed;
    z-index: 9999;

    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 80px;

    background-color: var(--light-slate);
    border-bottom: 1px solid var(--rich-black);
    box-shadow: 0px 4px 0px var(--light-slate-dark);

    transition: all 0.2s ease;
}

.scrolled-navbar {
    box-shadow: 0px 8px 0px var(--light-slate-dark);
}

.navbar-container {
    display: flex;
    justify-content: space-around;
    align-items: center;

    width: 20%;
    height: 60px;
    padding: 1%;

    background-color: var(--light-slate);
    border: 1px solid var(--rich-black);
    box-shadow: inset 4px 4px 0px var(--light-slate-dark);

    transition: all 0.2s ease;
}

.scrolled-navbar .navbar-container {
    box-shadow: inset 6px 6px 0px var(--light-slate-dark);
}

.navbar button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 12%;
    height: 60px;

    background-color: transparent;
    color: var(--charcoal);
    border: 1px solid var(--rich-black);
    border-radius: 2px;
    box-shadow: 2px 2px 0px var(--light-slate-dark);

    font-family: monospace;
    font-weight: 700;
    font-size: 1rem;

    cursor: pointer;

    transition: all 0.2s ease;
}

.navbar-container button {
    width: 20%;
    height: 40px;
}

.navbar button svg {
    filter: drop-shadow(1px 1px 0px var(--charcoal));
}

.navbar-container h1 {
    font-family: 'Jersey 25', monospace;
    font-weight: 400;
    font-size: 2rem;
    color: var(--charcoal);
    text-shadow: 1px 1px 0px var(--rich-black);
}

.scrolled-navbar button {
    box-shadow: 4px 4px 0px var(--light-slate-dark);
}

.navbar button:hover {
    background-color: var(--charcoal);
    color: var(--light-slate);
    transform: translate(2px, 2px);
    box-shadow: none;
}

/* FOOTER */
.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    min-height: 60vh;
    padding: 50px 45px;

    background-color: var(--black);

    font-family: 'Preahvihear', sans-serif;
    color: var(--gray-light);
}

.footer h2 {
    font-family: 'Poppins', sans-serif;
    padding: 5px 20px;
}

.ft-left {
    flex: 1;
    min-width: 150px;
    margin-bottom: 20px;
}

.ft-columns {
    display: flex;
    justify-content: flex-start;
    gap: 100px;
    flex-wrap: wrap;

    max-width: 800px;
    margin-left: auto;
    margin-right: 70px;
}

.ft-column {
    display: flex;
    flex-direction: column;
    gap: 10px;

    min-width: 120px;

    font-family: 'Poppins', sans-serif;
}

.ft-column a {
    color: var(--gray-light);
    text-decoration: none;
}

.log-out-button:hover {
    transform: scale(1.1);
}

.hidden {
    display: none !important;
}

.card-svg {
    shape-rendering: crispEdges;
    image-rendering: pixelated;
    filter: contrast(200%) saturate(200%) brightness(120%);
}

/* phone */
@media (max-width: 600px) {
    .navbar {
        height: 40px;
    }

    .navbar span {
        display: none;
    }

    .navbar-container h1 {
        display: none;
    }

    .navbar button {
        width: 70%;
        height: 90%;
    }

    .first-container {
        width: 15%;
        aspect-ratio: 1/1;
    }

    .second-container {
        width: 30vw;
    }
}

/*desktop*/
@media (max-width: 1536px) {
    .navbar {
        width: 100%;
        height: 100px;
    }
}

/**/
