:root {
    /* Greens */
    --green-primary: #1cb61c;
    --green-dark: #2c4a3b;
    --green-darker: #275e47;
    --green-darker-alpha: #275e47aa;
    --green-darker-darker: #183c2c;
    --green-light: #87c4a9;
    --green-light-alpha: #87c4a9aa;

    /* Grays */
    --gray-light: #f5f5f5;
    --gray-medium: #cccccc;
    --gray-dark: #888;
    --gray-darker: #2c2c2c;

    /* Neutrals */
    --white-smoke: #f1f1f1;
    --black: #111;

    /* Special Tones */
    --lavender-light: #f0f0ff;
}

html {
    font-size: 16px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;

    background-color: var(--lavender-light);
    text-align: center;
    padding: 0 2%;
}

.quote {
    margin-bottom: 1rem;

    font-family: 'Poppins', cursive;
    font-size: clamp(2.5rem, 5vw + 1rem, 4rem);
    color: var(--green-darker);
    line-height: 1.3;
}

.quote span {
    color: var(--green-darker-darker);
}

.hero-section .subtext {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;

    font-family: 'Preahvihear', sans-serif;
    font-size: clamp(1rem, 2.5vw, 1.4rem);
    line-height: 1.6;
    color: var(--gray-darker);
}

.hero-button {
    width: 30%;
    padding: 12px;
    margin-top: 2%;

    background-color: var(--green-darker);
    border-radius: 4px;

    color: var(--lavender-light);
    text-align: center;
}

.hero-button:hover {
    background-color: var(--green-darker-alpha);
}

.why-use-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 100%;
    height: 100vh;
    padding: 5% 10%;

    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    background: var(--green-darker);

    color: var(--green-darker);
}

.why-use-info h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    max-width: 1920px;
    margin-bottom: 2rem;

    border: 2px solid var(--black);
    border-radius: 4px;
    background-color: var(--green-light);

    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.8;

    cursor: pointer;

    transition: all 0.2s ease;
}

.why-use-box-container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2vw;

    width: 100%;
    max-width: 1920px;
}

.why-use-box {
    width: 32%;
    height: 70vh;
    padding: 3%;

    border: 2px solid var(--black);
    border-radius: 4px;
    background: var(--green-light);

    color: var(--green-darker);
    overflow: hidden;

    cursor: pointer;
    transition: all 0.2s ease;
}

.why-use-box h4 {
    margin-bottom: 1.5rem;

    font-family: 'Poppins', sans-serif;
    font-size: 1.7rem;
    font-weight: 800;
    line-height: 1.8;
}

.why-use-box p {
    margin-bottom: 2rem;

    font-family: 'Preahvihear', sans-serif;
    font-size: 1.2rem;
    line-height: 1.8;
}

.why-use-box hr {
    margin: 4% 0 8% 0;

    border: 1px dotted var(--green-darker);
}

.why-use-box:hover {
    box-shadow: 8px 8px 0px var(--black);

    color: var(--black);

    transform: translate(-1%, -1%);
}

.why-use-box:hover hr {
    border: 2px dashed var(--black);
}

.types-poster {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 8%;

    background-color: var(--green-light);
}

.types-large-header-container {
    width: 100%;
    max-width: 1920px;
}

.types-large-header {
    font-family: 'Potta One', sans-serif;
    font-size: 8rem;
    line-height: 1.2;
    color: var(--green-darker-darker);
}

.types-large-header span {
    font-size: 6rem;
}

.types-poster-personalities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 90vh;

    border-top: 2px solid var(--black);
    background-color: var(--green-darker-darker);

    font-family: 'Potta One', cursive;
    color: var(--green-light);
}

.types-poster-container {
    width: 100%;
    max-width: 1920px;
    padding: 0 8%;
}

.types-poster-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 1vw;

    margin-bottom: 5%;
}

.poster-type-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: auto;
    padding: 15px 30px;

    border: 2px solid var(--black);
    border-radius: 4px;
    background-color: var(--green-light);

    font-family: 'Potta One', sans-serif;
    font-size: 1.5rem;
    color: var(--green-darker-darker);

    cursor: pointer;

    transition: all 0.2s ease;
}

.poster-type-btn:hover {
    box-shadow: 8px 8px 0px var(--black);

    color: var(--black);

    transform: translate(-1%, -1%);
}

.types-poster-navigation {
    display: flex;
    justify-content: flex-end;
}

.types-poster-explore-type {
    font-size: 3.5rem;
    text-decoration: none;
    color: var(--green-light);
    transition: all 0.2s ease;
}

.types-poster-explore-type:hover {
    transform: translateX(4%);
}

.random-quotes {
    display: flex;
    justify-content: center;
    align-self: center;

    width: 100%;
    height: 50vh;
    padding: 8%;

    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
    background-color: var(--green-darker);

    font-size: 1.8rem;
    color: var(--gray-light);
}

.random-quotes-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    max-width: 1920px;
}

.random-quotes .author {
    font-weight: 700;
}

.self-discovery {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    padding: 5% 8%;

    background-color: var(--green-light);

    overflow: hidden;
}

.self-discovery-container {
    position: relative;
    z-index: 1;

    width: 100%;
    max-width: 1920px;
}

.self-discovery-quote {
    margin-bottom: 2rem;

    font-family: 'Poppins', cursive;
    font-size: 3rem;
    color: var(--gray-darker);
    line-height: 1.8;
}

.self-discovery-quote span {
    color: var(--green-dark);
}

.self-discovery-subtext {
    font-family: Preahvihear, sans-serif;
    font-size: 1.4rem;
    line-height: 2;
    color: var(--gray-darker);
}

.self-discovery-button {
    width: 30%;
    padding: 12px;
    margin-top: 2%;

    border-radius: 4px;
    background-color: var(--green-darker);

    color: var(--lavender-light);
    text-align: center;
}

.self-discovery-button:hover {
    background-color: var(--green-darker-alpha);
}

.enneagram-svg {
    position: absolute;
    bottom: -40vh;
    right: -15vw;
    z-index: -1;

    width: 60vw;

    overflow: hidden;
    color: var(--green-darker);
    filter: drop-shadow(6px 6px 0px var(--gray-darker));
}

.responsive-svg {
    width: 100%;
    height: auto;
    display: block;
}
