@import url('https://fonts.googleapis.com/css2?family=Jersey+25&display=swap');

:root {
    --white-smoke: #f9fafb;
    --charcoal: #374151;
    --charcoal-a: #374151aa;
    --dark-charcoal: #131924;
    --medium-slate: #8a93a1;
    --light-slate: #a5afc0;
    --light-slate-dark: #626974;
    --light-slate-dark-a: #626974aa;
    --light-slate-a: #a5afc0aa;
    --amber-700: #d97706;
    --amber-500: #f59e0b;
    --rich-black: #202225;
    --rich-green: #34575a;
    --light-gray: #f3f4f6;
    --blue-a: #7cf1f1;
    --light-blue: #61aaaa;
    --purple-a: #bb62fa;
    --light-purple: #9256bd;
}

html {
    font-size: 16px;
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 110vh;

    background-color: var(--light-slate);
    background-image: linear-gradient(
            90deg,
            var(--light-slate-dark-a) 1px,
            transparent 1px
        ),
        linear-gradient(var(--light-slate-dark-a) 1px, transparent 1px);
    background-size: 200px 200px;
    border-bottom: 1px solid var(--rich-black);
    text-align: center;
    padding: 0 2%;
}

.quote {
    padding: 2% 5%;

    margin-bottom: 1rem;

    font-family: 'Jersey 25', cursive;
    font-size: 4rem;

    background-color: var(--light-slate);

    color: var(--amber-500);
    text-shadow: 6px 4px 0px var(--rich-black);
}

.quote span {
    color: var(--amber-700);
}

.hero-section .subtext {
    margin-top: 1rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 60ch;

    background-color: var(--light-slate);

    font-family: 'Jersey 25', sans-serif;
    font-size: 2rem;
    line-height: 1.6;
    color: var(--charcoal);
    text-shadow: 1px 1px 0px var(--rich-black);
}

.hero-button {
    width: 30%;
    padding: 12px;
    margin-top: 2%;

    border: 1px solid var(--amber-500);
    background-color: var(--amber-700);
    border-radius: 4px;
    box-shadow: 6px 6px 0px var(--rich-black);

    font-family: 'Jersey 25', monospace;
    font-size: 1.5rem;
    color: var(--white-smoke);
    text-align: center;
    text-shadow: 1px 1px 0px var(--rich-black);

    cursor: pointer;
}

.hero-button:hover {
    background-color: var(--amber-500);
    transform: scaleX(1.1);
}

.why-use-info {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 160vh;
    padding: 5% 13%;

    background: var(--rich-black);
    border-bottom: 1px solid var(--light-slate);
    box-shadow: inset 0px 12px 0px var(--light-slate-dark);
    color: var(--green-darker);

    overflow: hidden;
}

.why-use-info h2 {
    position: relative;
    z-index: 2;

    max-width: 1920px;
    margin-bottom: 2rem;

    border-radius: 4px;

    font-family: 'Jersey 25', monospace;
    font-size: 5rem;
    color: var(--light-slate);
    text-shadow: 4px 2px 0px var(--charcoal);
    text-align: center;
    letter-spacing: 2px;
    line-height: 1.8;

    cursor: pointer;

    transition: all 0.2s ease;
}

.why-use-box-container {
    position: relative;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: stretch;
    gap: 2vw;

    width: 100%;
    max-width: 1920px;
}

.why-use-box {
    width: 32%;
    height: 450px;
    padding: 3%;

    border: 1px solid var(--light-slate);
    border-radius: 4px;
    background: var(--charcoal);

    color: var(--light-slate);
    overflow: hidden;

    cursor: pointer;
}

.why-use-box h4 {
    margin-bottom: 1.5rem;

    font-family: 'Jersey 25', monospace;
    font-size: 1.8rem;
    font-weight: 800;
    line-height: 1.8;

    letter-spacing: 2px;
    text-shadow: 1px 1px 0px var(--rich-black);
}

.why-use-box p {
    margin-bottom: 2rem;

    font-family: 'Jersey 25', monospace;
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-shadow: 1px 1px 0px var(--rich-black);
}

.why-use-box hr {
    margin: 4% 0 8% 0;

    border: 1px dashed var(--light-slate);
}

.why-use-box:hover {
    background-color: var(--light-slate);
    box-shadow: 8px 8px 0px var(--charcoal);

    color: var(--rich-black);

    transform: translate(-1%, -1%);
}

.why-use-box:hover hr {
    border: 2px dashed var(--rich-black);
}

.why-use-box:hover h4,
.why-use-box:hover p {
    text-shadow: none;
}

.types-poster {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    padding: 15%;
    padding-top: 30%;

    background: var(--light-slate);
    background-color: var(--light-slate);
    background-image: linear-gradient(
            90deg,
            var(--light-slate-dark-a) 1px,
            transparent 1px
        ),
        linear-gradient(var(--light-slate-dark-a) 1px, transparent 1px);
    background-size: 200px 200px;
    box-shadow: inset 0px 12px 0px var(--rich-black);

    overflow: hidden;
}

.types-large-header-container {
    position: relative;

    width: 100%;
    max-width: 1920px;
}

.types-large-header {
    position: relative;
    z-index: 0;

    padding: 5%;

    background-color: var(--charcoal);
    box-shadow: 10px 10px 0px var(--rich-black);
    border: 6px solid var(--amber-500);
    border-radius: 2px;

    font-family: 'Jersey 25', monospace;
    font-size: 10rem;
    color: var(--amber-700);
    text-shadow: 6px 6px 0px var(--rich-black);
}

.types-poster-reformer {
    position: absolute;
    right: -15vw;
    bottom: -50vh;
    z-index: 0;

    width: 70%;
    max-width: 900px;

    shape-rendering: crispEdges;
    image-rendering: pixelated;
    filter: contrast(200%) saturate(200%) brightness(120%);
    filter: drop-shadow(10px 0px 0px var(--rich-black));
}

.types-poster-reformer path {
    stroke: var(--amber-700);
    fill: var(--amber-500);
}
.types-poster-reformer circle {
    stroke: var(--amber-700);
    fill: var(--amber-500);
    filter: drop-shadow(2px 2px 0px var(--rich-black));
}
.types-poster-reformer ellipse {
    stroke: var(--amber-700);
    fill: var(--amber-500);
}

.types-large-header span {
    padding: 1%;
    color: var(--amber-500);

    font-size: 8rem;
}

.types-poster-personalities {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;

    padding: 10% 15%;

    min-height: 100vh;

    background-color: var(--charcoal);
    border-top: 6px solid var(--amber-700);
    box-shadow: inset 0px 1px 0px var(--light-slate),
        inset 0px 12px 0px var(--rich-black);

    font-family: 'Jersey 25', monospace;
    color: var(--light-slate);
}

.types-poster-container {
    width: 100%;
    max-width: 1920px;
    padding: 0 8%;
}

.types-poster-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;

    margin-bottom: 5%;
}

.poster-type-btn {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 70px;
    padding: 15px 30px;

    border: 1px solid var(--amber-500);
    border-radius: 2px;
    background-color: var(--amber-700);
    box-shadow: 6px 6px 0px var(--rich-black);

    font-family: 'Jersey 25', monospace;
    font-weight: 400;
    font-size: 1.5rem;
    color: var(--white-smoke);
    text-shadow: 1px 1px 0px var(--rich-black);

    cursor: pointer;
}

.poster-type-btn:hover {
    transform: scale(1.03);

    background-color: var(--amber-500);
    text-shadow: none;
}

.types-poster-navigation {
    display: flex;
    justify-content: flex-end;
}

.types-poster-explore-type {
    font-size: 4rem;
    text-decoration: none;
    color: var(--light-slate);
    text-shadow: 4px 4px 0px var(--rich-black);
}

.types-poster-explore-type:hover {
    transform: translateX(4%);
}

.random-quotes {
    position: relative;

    display: flex;
    justify-content: center;
    align-self: center;

    width: 100%;
    height: 50vh;
    padding: 15%;

    background: var(--rich-black);
    border-top: 1px solid var(--light-slate);
    box-shadow: inset 0px 12px 0px var(--charcoal);

    font-size: 1.8rem;
    color: var(--white-smoke);

    overflow: hidden;
}

.random-quotes-container {
    position: relative;
    z-index: 2;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

    width: 100%;
    max-width: 1920px;
}

.random-quotes-container p {
    padding: 2%;

    background-color: var(--charcoal);
    box-shadow: 15px 15px 0px var(--light-slate);

    font-family: 'Jersey 25', monospace;
    font-size: 2rem;

    text-shadow: 4px 2px 0px var(--rich-black);
}

.random-quotes .author {
    font-weight: 500;
}

.types-poster-stars {
    position: absolute;
    top: 0;

    width: 80%;
    opacity: 0.5;

    z-index: 1;
}

.types-poster-stars circle {
    stroke-width: 1px;
}
.types-poster-stars g {
    fill: var(--light-slate);
}

/*Phone*/
@media (max-width: 600px) {
    .hero-section {
        height: auto;
        margin-top: 5rem;
        padding: 4% 5%;
    }

    .quote {
        font-size: 2rem;
        padding-top: 3vh;
    }

    .hero-section .subtext {
        font-size: 1.4rem;
        max-width: 90ch;
    }

    .hero-button {
        width: 80%;
        font-size: 1.2rem;
    }

    .why-use-info {
        height: auto;
        padding: 5% 5%;
    }

    .why-use-info h2 {
        margin-top: 27 rem;
        font-size: 3rem;
        margin-bottom: 1.5rem;
    }

    .why-use-box-container {
        flex-direction: column;
        gap: 1.5rem;
        padding: 0;
    }

    .why-use-box {
        width: 100%;
        height: auto;
        padding: 2rem;
    }

    .types-large-header {
        font-size: 5rem;
        padding: 3% 2%;
    }

    .types-large-header span {
        font-size: 4rem;
    }

    .types-poster {
        padding: 20% 10% 30% 10%;
    }

    .types-poster-personalities {
        padding: 10% 5%;
        min-height: auto;
    }

    .types-poster-grid {
        grid-template-columns: 1fr;
        gap: 10px;
        margin-bottom: 2rem;
    }

    .poster-type-btn {
        width: 100%;
        font-size: 1.3rem;
    }

    .random-quotes {
        height: auto;
        padding: 10%;
        font-size: 1.4rem;
    }
}
/*desktop*/
@media (max-width: 1536px) {
    .hero-section {
        width: 100%;
        height: 110vh;
    }

    .quote {
        padding-top: 7vh;
        margin-bottom: 2rem;

        font-size: 7rem;
    }

    .why-use-info {
        width: 100%;
        height: 120vh;
        padding: 5% 13%;

        border-bottom: 1px solid var(--light-slate);
        box-shadow: inset 0px 12px 0px var(--light-slate-dark);
    }

    .why-use-box-container {
        gap: 4vw;

        width: 115%;
        max-width: 2120px;
    }

    .types-poster {
        width: 100%;
        padding: 15%;
        padding-top: 15%;
    }

    .types-poster-container {
        width: 120%;
        max-width: 2420px;
    }

    .random-quotes-container {
        width: 120%;
        max-width: 2420px;
    }

    .types-poster-personalities {
        padding: 10% 15%;
        min-height: 100vh;
    }
}

/*desktop*/
@media (max-width: 1536px) {
    .hero-section {
        width: 100%;
        height: 110vh;
    }

    .quote {
        padding-top: 7vh;
        margin-bottom: 2rem;

        font-size: 7rem;
    }

    .why-use-info {
        width: 100%;
        height: 120vh;
        padding: 5% 13%;

        border-bottom: 1px solid var(--light-slate);
        box-shadow: inset 0px 12px 0px var(--light-slate-dark);
    }

    .why-use-box-container {
        gap: 4vw;

        width: 115%;
        max-width: 2120px;
    }

    .types-poster {
        width: 100%;
        padding: 15%;
        padding-top: 15%;
    }

    .types-poster-container {
        width: 120%;
        max-width: 2420px;
    }

    .random-quotes-container {
        width: 120%;
        max-width: 2420px;
    }

    .types-poster-personalities {
        padding: 10% 15%;
        min-height: 100vh;
    }
}
