:root {
    --white-smoke: #f9fafb;
    --charcoal: #374151;
    --charcoal-a: #374151aa;
    --dark-charcoal: #131924;
    --medium-slate: #8a93a1;
    --light-slate: #a5afc0;
    --light-slate-dark: #626974;
    --light-slate-a: #a5afc0aa;
    --amber-700: #d97706;
    --amber-500: #f59e0b;
    --rich-black: #202225;
    --rich-green: #34575a;
    --green-a: #9ddacd;
    --light-gray: #f3f4f6;
    --blue-a: #7cf1f1;
    --light-blue: #61aaaa;
    --purple-a: #bb62fa;
    --light-purple: #9256bd;
}

@font-face {
    font-family: 'Jersey 25';
    font-weight: 400;
    src: url('/fonts/Jersey25-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Jersey 25';
    font-weight: 800;
    src: url('/fonts/Jersey25-Regular.ttf') format('truetype');
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(
        to right,
        var(--rich-green),
        var(--dark-charcoal)
    );
    overflow: hidden;
}

.menu-border {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 80%;
    height: 500px;
    background-color: var(--light-slate-dark);
    box-shadow: 10px 10px 0px var(--light-slate-dark);
    border: 1px solid var(--rich-black);
}

.menu-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 99%;
    height: 98%;
    padding: 1% 1% 1% 5%;
    background: var(--light-slate);

    font-family: monospace;
}

.menu-intro-container {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: 85%;
    padding: 5%;

    background-color: var(--charcoal);
    background-image: linear-gradient(
            90deg,
            var(--rich-green) 1px,
            transparent 1px
        ),
        linear-gradient(var(--rich-green) 1px, transparent 1px);
    background-size: 90px 90px;
    box-shadow: inset 12px 12px 0px var(--light-slate),
        inset -4px -4px 0px var(--light-slate);
    border: 1px solid var(--rich-black);
    border-radius: 4px;

    font-family: 'Jersey 25', monospace;

    overflow: hidden;
    transition: all 0.1s;
}

.menu-intro-container h1 {
    font-size: 8rem;
    color: var(--amber-500);
    text-shadow: 4px 2px 0px var(--dark-charcoal);
}

.menu-intro-container p {
    font-size: 1.8rem;
    color: var(--amber-500);
    text-shadow: 4px 2px 0px var(--dark-charcoal);
}

.menu-intro-container .cursor {
    animation: blink 1s steps(1) infinite;
}

.menu-navigation-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    height: 100%;
    width: 70%;
}

.menu-navigation-group button {
    position: relative;

    width: 70%;
    height: 60px;

    background-color: var(--light-slate);
    color: var(--light-slate-dark);
    border: 1px solid var(--rich-black);
    border-radius: 4px;
    box-shadow: 6px 6px 0px var(--light-slate-dark);

    font-family: monospace;
    font-weight: 700;
    font-size: 1.3rem;
    text-shadow: 1px 1px 0px var(--rich-black);

    cursor: pointer;

    transition: all 0.2s ease;
}

.menu-navigation-group span {
    position: absolute;
    left: 4%;

    height: 27px;
    aspect-ratio: 1/1;

    border: 1px solid var(--light-slate-dark);
    color: var(--light-slate-dark);
    text-shadow: none;
}

.menu-navigation-group button:hover,
.menu-navigation-group button:active {
    background-color: var(--light-slate-dark);
    color: var(--light-slate);
    transform: translate(2px, 2px);
    box-shadow: none;
}

.zoom-in-effect {
    animation: pixelZoom 0.6s steps(18, end) forwards;
    image-rendering: pixelated;
    z-index: 999;
}

.zoom-out-effect {
    animation: pixelZoom 0.6s steps(18, end) forwards;
    image-rendering: pixelated;
    z-index: 999;
}

@keyframes blink {
    0%,
    50% {
        opacity: 1;
    }
    50.1%,
    100% {
        opacity: 0;
    }
}
@keyframes pixelZoom {
    0% {
        transform: scale(1);
        filter: contrast(200%) saturate(120%);
    }
    50% {
        transform: scale(5);
        filter: contrast(300%) saturate(80%) brightness(1.2);
    }
    100% {
        transform: scale(30);
        filter: none;
    }
}

@keyframes pixelZoomOut {
    0% {
        transform: scale(30);
        filter: none;
    }
    50% {
        transform: scale(5);
        filter: contrast(300%) saturate(80%) brightness(1.2);
    }
    100% {
        transform: scale(1);
        filter: contrast(200%) saturate(120%);
    }
}

.svg-bg-pixel {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;

    height: 2400px;

    shape-rendering: crispEdges;
    image-rendering: pixelated;
    filter: contrast(200%) saturate(200%) brightness(120%)
        drop-shadow(8px 8px 0px var(--charcoal));
    animation: spin 500s linear infinite;
}

.svg-bg-pixel path {
    stroke-width: 20px;
    stroke: var(--light-slate);
    stroke-opacity: 0.1;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

/*phones*/
@media (max-width: 600px) {
    .menu-html {
        height: calc(var(--vh, 1vh) * 100);
    }
    .menu {
        height: 100%;
    }

    .menu-border {
        width: 100%;
        height: 100%;
    }

    .menu-container {
        flex-direction: column;
        padding: 5%;
    }

    .menu-intro-container {
        width: 100%;
        height: 60%;
        padding: 5%;
        align-items: center;
        text-align: center;
    }

    .menu-intro-container h1 {
        font-size: 4rem;
        line-height: 1.2;
    }

    .menu-intro-container p {
        font-size: 1rem;
        line-height: 1.4;
    }

    .menu-navigation-group {
        width: 100%;
        height: 40%;
        flex-direction: column;
        gap: 15px;
        align-items: center;
        margin-top: 1rem;
    }

    .menu-navigation-group button {
        width: 100%;
        height: 15%;
        font-size: 1rem;
    }

    .menu-navigation-group span {
        display: none;
    }
}

@media (max-width: 1536px) {
    .menu {
        height: 100vh;
    }

    .menu-border {
        width: 85%;
        height: 530px;
    }

    .menu-navigation-group {
        gap: 23px;

        height: 100%;
        width: 75%;
    }
}
