:root {
    /* Main Colors */
    --white-smoke: #f9fafb;
    --charcoal: #374151;
    --light-slate: #a5afc0;
    --amber-700: #d97706;
    --amber-500: #f59e0b;
    --rich-black: #202225;
    --light-gray: #f3f4f6;

    /* Button */
    --button-bg: var(--amber-700);
    --button-border: var(--amber-500);
    --button-hover: var(--amber-500);

    /* Shadow */
    --shadow-dark: var(--charcoal);
}

.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background: var(--rich-black);

    font-family: 'Jersey 25', monospace;
    padding: 30px;
}

.not-found-text-box {
    width: 100%;
    max-width: 1000px;
    padding: 40px;
}

.not-found-message {
    margin-bottom: 20px;

    font-size: 4rem;
    font-weight: 700;
    color: var(--amber-500);
    line-height: 1.4;
}

.not-found-subtext {
    font-size: 2rem;
    color: var(--amber-700);
}

.not-found-home-link {
    font-size: 1.7rem;
    color: var(--amber-500);
    text-decoration: none;

    cursor: pointer;
}
