:root {
    --white-smoke: #f9fafb;
    --charcoal: #374151;
    --charcoal-a: #374151aa;
    --dark-charcoal: #131924;
    --medium-slate: #8a93a1;
    --light-slate: #a5afc0;
    --light-slate-dark: #626974;
    --light-slate-a: #a5afc0aa;
    --amber-700: #d97706;
    --amber-500: #f59e0b;
    --rich-black: #202225;
    --rich-green: #34575a;
    --light-gray: #f3f4f6;
    --blue-a: #7cf1f1;
    --light-blue: #61aaaa;
    --purple-a: #bb62fa;
    --light-purple: #9256bd;
}

.not-found-container {
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    background-color: var(--light-slate);
    background-image: linear-gradient(
            90deg,
            var(--light-slate-dark) 1px,
            transparent 1px
        ),
        linear-gradient(var(--light-slate-dark) 1px, transparent 1px);
    background-size: 200px 200px;

    font-family: 'Jersey 25', monospace;
    padding: 30px;

    overflow: hidden;
}

.not-found-text-box {
    margin-left: 20%;
    width: 100%;
    max-width: 1200px;
    padding: 40px;
}

.not-found-message {
    margin-bottom: 20px;
    padding: 3% 5% 3% 20%;

    background-color: var(--light-slate);
    border: 1px solid var(--light-slate-dark);

    font-size: 7rem;
    font-weight: 700;
    color: var(--charcoal);
    line-height: 1.4;
    text-shadow: 2px 2px 0px var(--rich-black);
}

.not-found-subtext {
    padding: 3% 5% 3% 25%;

    background-color: var(--light-slate);
    border: 1px solid var(--light-slate-dark);

    font-size: 2rem;
    color: var(--charcoal);
    text-shadow: 1px 1px 0px var(--rich-black);
}

.not-found-home-link {
    font-size: 1.7rem;
    color: var(--light-slate-dark);
    text-decoration: none;

    cursor: pointer;
}

#not-found-container #card-svg-challenger {
    position: absolute;
    bottom: -45%;
    left: -15%;
    width: 70%;

    filter: grayscale(70%) drop-shadow(10px 8px 0px var(--rich-black));
}

#card-svg-challenger path {
    stroke: var(--rich-black);
}
