@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&family=Mansalva&family=Potta+One&family=Preahvihear&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}

::-webkit-scrollbar {
    width: 10px;         
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-left: 1px solid #2C2C2C;
}


::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #1cb61c;
    border: 1px solid #2C2C2C;
    border-right: none;
}

/* pagsamasamahin yung mga same property i.e. font-family, font-style */

/* 

PRECEDENCE OF PROPERTIES (priorities respectively) 

display, 
visibility|opacity, 
position|z-index, 
flex|grid, 
width|height|margin|padding, 
border|box-shadow|background, 
color|font|text-align, 
transition|transform|animation 

*/

/* pasunod boii yung color sa figma */

body {
    height: 100vh;

    font-family: Preahvihear, sans-serif;
}

.navbar {
    position: fixed;
    z-index: 100;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    width: 100%;
    height: 90px;
    padding: 1% 4%;

    background-color: #e6e6fa;

    transition: all .1s ease-in-out;
}

.scrolled-navbar {
    background-color: #F5F5F5;
    border-bottom: 2px solid #111;
}

.navbar .left-group {
    display: flex;
}

.web-logo {
    margin-right: 4%;

    font-family: 'Mansalva', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.5;
    color: #2C2C2C;

    cursor: pointer;
}

#web-logo span {
    /* font-family: 'Cinzel Decorative', sans-serif; */
    color: #2c4a3b;
}

#web-logo:hover {
    color: #1cb61c;
}

#web-logo:hover span {
    color: #1cb61c;
}

.navigation-links {    
    display: flex;
    align-items: center;
    gap: 30px;
    
    width: 40vw;
    margin-left: 5%;
}

.navigation-links a:hover {
    color: #1cb61c;
}


.navigation-links a, .action-links a {
    font-size: 1.2rem;
    font-weight: 500;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color: #2C2C2C;
}

.action-links a {
    display: block;

    padding: 10px 20px;

    border-radius: 4px;

    text-decoration: none;

    transition: all .1s ease;
}

.action-links a:hover {
    background-color: #CCCCCC;
}

.action-links {
    display: flex;
    align-items: center;
    gap: 30px;
}


.action-links .nav-button { 
    background-color: #87C4A9;
    color: #2D6A4F;
}

.action-links .nav-button:hover { 
    background-color: #87C4A9AA;
    color: #2D6A4FAA;
}

/* UNIVERSAL CTA-BUTTON STYLE (palagyan lahat ng cta-button yung class ng mga take test)*/
.cta-button {
    padding: 15px 30px;
    
    border: 2px solid #2C2C2C;
    border-radius: 4px;
    box-shadow: 4px 4px 0px #2C2C2C;
    
    font-family: 'Potta One', sans-serif;
    font-size: 1rem;
    
    cursor: pointer;

    transition: all .2s ease;
}

.cta-button:hover {
    transform: scale(1.1);
}
/*-------------------------------*/

/*Nathaniel nigs property --> paayos yung indentation next time*/
.hero-section {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    width: 100%;
    height: 100vh;

    background-color: #E6E6FA;

    text-align: center;
}
  
.quote {
    font-family: 'Poppins', cursive;
    font-size: 3.5rem;
    color: #2D6A4F;
    line-height: 2;
}
  
.quote span {
    font-weight: bold;
}
  
.hero-section .subtext {
    font-family: 'Preahvihear', sans-serif;
    font-size: 1.6rem;
    line-height: 3;
    color: #2C2C2C;
}
  
.hero-button {
    width: 26%;
    margin-top: 2%;
    
    background-color: #2D6A4F;
    
    color: #E6E6FA;
}

.hero-button:hover {
    background-color: #2D6A4FAA;
}
  
.why-use-info {
    width: 100%;
    height: 100vh;
    padding: 2% 8%;

    border-top: 2px solid #111;
    border-bottom: 2px solid #111;

    background: #2D6A4F;

    color: #E6E6FA;
} 

.why-use-info h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    letter-spacing: 2px;
    line-height: 2;
}

.why-use-box-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70vh;
    max-width: 2000px;
}

.why-use-box {
    width: 32%;
    height: 60vh;
    padding: 3%;
    
    border: 2px solid #111;
    border-radius: 4px;

    background: #87C4A9;

    color: #2D6A4F;

    overflow: auto;
    cursor: pointer;

    transition: all .2s ease;
}

.why-use-box::-webkit-scrollbar {
    display: none;         
}

.why-use-box h4 {
    font-size: 1.5rem;
    line-height: 2;
}

.why-use-box p {
    font-size: 1.2rem;
    line-height: 2;
}

.why-use-box hr {
    border: 1px dashed #2D6A4F;
    margin: 4% 0 8% 0;
}

.why-use-box:hover {
    color: #111;
    box-shadow: 8px 8px 0px #111;
    transform: translate(-1%,-1%);
}

.why-use-box:hover hr {
    border: 2px dashed #111;
}

.types-poster {
    width: 100%;
    height: 140vh;
    padding: 7%;

    background-color: #87C4A9;
}

.types-large-header {
    font-family: 'Potta One', sans-serif;
    font-size: 8rem;
    line-height: 1.4;
    color: #2D6A4F;
}

.types-large-header span {
    font-size: 6rem;
}

/*poster section*/
.types-poster-personalities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    min-height: 90vh;
    
    background-color: #2D6A4F;
    border-top: 2px solid #111;

    font-family: 'Potta One', cursive;
    color: #87C4A9;

}
  
.types-poster-container {
    width: 100%;
    max-width: 2000px;
    padding: 0 8%;
}
  
.types-poster-grid {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3, auto);
    gap: 30px;
    
    margin-bottom: 5%;
}
  
.poster-type-btn {
    height: 10vh;
    padding: 15px 30px;
    
    border: 2px solid #111;
    border-radius: 4px;
    
    font-family: 'Potta One', sans-serif;
    font-size: 1.5rem;
    
    background-color: #87C4A9;
    color: #2D6A4F;

    cursor: pointer;
    transition: all 0.2s ease;
}
  
.poster-type-btn:hover {
    color: #111;
    box-shadow: 4px 4px 0px #111;
    transform: translate(-1%,-1%);
}
  
.types-poster-navigation {
    display: flex;
    justify-content: flex-end;
}
  
.types-poster-explore-type {
    font-size: 4rem; 
    text-decoration: none;
    color: #87C4A9;

    transition: all .2s ease;
}
  
.types-poster-explore-type:hover {
    text-shadow: 6px 6px 0px #111;
    transform: translateX(4%);
}

/*random quote section*/
.random-quotes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
    width: 100%;
    height: 50vh;
    padding: 8%;
    
    border-top: 2px solid #111;
    border-bottom: 2px solid #111;
    background-color: #2C2C2C;

    font-size: 2rem;
    color: #F5F5F5;
}

.random-quotes .author {
    font-weight: 700;
}

.self-discovery {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    padding: 5% 8%;

    background-color: #87C4A9;
}

.self-discovery-quote {
    font-family: 'Poppins', cursive;
    font-size: 3.5rem;
    color: #2D6A4F;
    line-height: 2;
}

.self-discovery-subtext {
    font-family: Preahvihear, sans-serif;
    font-size: 1.6rem;
    line-height: 3;
    color: #2C2C2C;
}

.self-discovery-button {
    width: 26%;
    margin-top: 2%;
    
    background-color: #2D6A4F;
    
    color: #E6E6FA;
}

.self-discovery-button:hover {
    background-color: #2D6A4FAA;
}

.graphic-placeholder {
  width: 180px;
  height: 180px;
  margin: 40px auto 0;
  background-image: url("#"); /* here po di q alam link */
  background-size: contain;
  background-repeat: no-repeat;
}

.footer {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    min-height: 60vh;
    padding: 50px 45px;
    
    border-top: 2px solid #111;
    background-color: #2C2C2C;
    
    font-family: Preahvihear, sans-serif;
    color: #F5F5F5;
}

.footer h2 {
    padding: 5px 20px;
}


.ft-left {
    flex: 1;
    min-width: 150px;
    margin-bottom: 20px;
}


.ft-columns {
    display: flex;
    justify-content: flex-start;
    gap: 100px;                  
    flex-wrap: wrap;

    max-width: 800px;            
    margin-left: auto;
    margin-right: 70px;
}

.ft-column {
    display: flex;
    flex-direction: column;
    gap: 10px;                    
    
    min-width: 120px;
}

.ft-column a {
    color: #F5F5F5;
    text-decoration: none;
}
