body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    background-color: #e6e6fa;
    
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 55px;
}
.navigation-links {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 0;
}
.navigation-links a, .action-links a {
    margin-right: 15px;
    font-size: larger;
    text-decoration: underline;
    text-decoration-thickness: 1px ;
    color: #333;
    font-weight: 500;
}
.action-links button {
    background-color: #5e9c88;
    border: none;
    padding: 16px 18px;
    margin-left: 10px;
    color: #2c4a3b ;
    font-weight: bold ;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 4px 4px 0px rgba(0, 0, 0, 0.8);
}
.action-links button:hover {
    background-color: #4b8774;
}
.web-logo {
    font-weight: bold;
    font-size: 22px ;
    color: black;
    margin-right: 10px;
}
.web-logo span {
    color: #2c4a3b;
}

/*Nathaniel nigs property*/
.container {
    padding: 60px 20px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  
  .quote {
    font-family: 'Potta One', cursive;
    font-size: 2.5rem;
    color: #2D6A4F;
    margin-bottom: 20px;
  }
  
  .quote span {
    font-weight: bold;
  }
  
  .subtext {
    font-size: 1rem;
    margin-bottom: 40px;
    color: #111111;
  }
  
  .cta-button {
    font-family: 'Potta one', 'Preahvihear';
    background-color: #2D6A4F;
    color: #FFFFFF;
    border: none;
    padding: 15px 30px;
    font-size: 1rem;
    border-radius: 6px;
    box-shadow: 3px 4px #111111;
    cursor: pointer;
    transition: transform 0.2s ease;
  }
  
  .cta-button:hover {
    transform: scale(1.05);
  }