:root {
    /* Greens */
    --green-primary: #1cb61c;
    --green-dark: #2c4a3b;
    --green-darker: #275e47;
    --green-darker-alpha: #275e47aa;
    --green-light: #87c4a9;
    --green-light-alpha: #87c4a9aa;

    /* Grays */
    --gray-light: #f5f5f5;
    --gray-medium: #cccccc;
    --gray-dark: #888;
    --gray-darker: #2c2c2c;

    /* Neutrals */
    --white-smoke: #f1f1f1;
    --black: #111;

    /* Special Tones */
    --lavender-light: #f0f0ff;
}

.enneagram-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    padding: 4% 8%;

    background-color: var(--green-darker);

    color: var(--green-light);
    text-align: center;
}

.enneagram-test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;

    width: 100%;
    height: 90vh;
    margin-top: 20vh;

    font-family: 'Poppins', sans-serif;
}

.enneagram-test-container .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    margin-top: 5vh;
}

.enneagram-test-container h2 {
    font-size: 2rem;
    text-shadow: 0px 4px 0px var(--black);
}

.enneagram-test-container button {
    width: 30%;
    padding: 15px 30px;

    border: 2px solid var(--gray-darker);

    border-radius: 4px;

    background-color: var(--green-light);
    color: var(--green-darker);

    font-family: 'Potta One', sans-serif;
    font-size: 1rem;

    cursor: pointer;
    transition: all 0.2s ease;
}

.enneagram-test-container button:hover {
    color: var(--black);
    transform: scale(1.1);
    box-shadow: 0px 4px 0px var(--black);
}

/* HAHAHAHHAHAHAH */
.test-instruction {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: #000a;
    color: var(--gray-light);
}

.test-instruction-container {
    position: relative;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60vh;
    width: 60%;
    padding: 2%;

    background: var(--green-darker-darker);
    border: 2px solid var(--black);
    border-radius: 4px;
    box-shadow: 6px 6px 0px var(--black);

    font-family: 'Poppins', sans-serif;
    color: var(--gray-light);
    text-align: center;
}

.test-instruction-container h2 {
    display: flex;
    justify-content: center;

    width: 100%;

    font-size: 2em;
    color: var(--green-light);
}

.test-instruction-text-container {
    z-index: 100;

    width: 100%;
    height: 45vh;
    padding: 2%;

    background-color: var(--green-darker);
    border: 2px solid var(--black);
    box-shadow: inset 2px 2px 0px var(--black);

    overflow: auto;
}

.test-instruction-container p {
    z-index: 1;

    font-family: 'Preahvihear', sans-serif;
    font-size: 1.2em;
    text-align: left;
    color: var(--gray-light);
}

.skip-instruction-btn {
    width: 30%;
    height: auto;
    margin-top: 15px;
    padding: 8px 16px;

    background-color: var(--gray-darker);
    border: 2px solid var(--black);
    border-radius: 4px;

    font-weight: 800;
    color: var(--gray-light);

    cursor: not-allowed;
}

.skip-instruction-btn.enabled {
    background-color: var(--green-light);

    color: var(--green-darker-darker);

    cursor: pointer;
    transition: all 0.2s ease;
}

.skip-instruction-btn.enabled:hover {
    background-color: var(--green-light-alpha);
    box-shadow: 0px 6px 0px var(--black);

    transform: scale(1.1);
}

body.lock-scroll {
    overflow: hidden;
}
