:root {
    /* Greens */
    --green-primary: #1cb61c;
    --green-dark: #2c4a3b;
    --green-darker: #275e47;
    --green-darker-alpha: #275e47aa;
    --green-light: #87c4a9;
    --green-light-alpha: #87c4a9aa;

    /* Grays */
    --gray-light: #f5f5f5;
    --gray-medium: #cccccc;
    --gray-dark: #888;
    --gray-darker: #2c2c2c;

    /* Neutrals */
    --white-smoke: #f1f1f1;
    --black: #111;

    /* Special Tones */
    --lavender-light: #f0f0ff;
}

.enneagram-test {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    padding: 4% 8%;

    background-color: var(--green-darker);

    color: var(--green-light);
    text-align: center;
}

.enneagram-test-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3vh;

    width: 100%;
    height: 90vh;
    margin-top: 20vh;

    font-family: 'Poppins', sans-serif;
}

.enneagram-test-container .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vh;

    margin-top: 5vh;
}

.enneagram-test-container h2 {
    font-size: 2.5rem;
    text-shadow: 0px 4px 0px var(--black);
}

.enneagram-test-container button {
    width: 30%;
    padding: 15px 30px;

    border: 2px solid var(--gray-darker);

    border-radius: 4px;

    background-color: var(--green-light);
    color: var(--green-darker);

    font-family: 'Potta One', sans-serif;
    font-size: 1rem;

    cursor: pointer;
    transition: all 0.2s ease;
}

.enneagram-test-container button:hover {
    color: var(--black);
    transform: scale(1.1);
    box-shadow: 0px 4px 0px var(--black);
}
