:root {
    /* Greens */
    --green-primary: #1cb61c;
    --green-dark: #2c4a3b;
    --green-darker: #275e47;
    --green-darker-alpha: #275e47aa;
    --green-darker-darker: #183c2c;
    --green-light: #87c4a9;
    --green-light-alpha: #87c4a9aa;

    /* Grays */
    --gray-light: #f5f5f5;
    --gray-medium: #cccccc;
    --gray-dark: #888;
    --gray-darker: #2c2c2c;

    /* Neutrals */
    --white-smoke: #f1f1f1;
    --black: #111;

    /* Special Tones */
    --lavender-light: #f0f0ff;
}

.enneagram-test {
    width: 100%;
    height: 100vh;
    padding: 4% 8%;

    background-color: var(--green-darker);

    color: var(--green-light);
    text-align: center;
}

.enneagram-test-container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    width: 100%;
    height: auto;

    margin-top: 10vh;
}

#test-questionnaire-options-wrapper {
    position: fixed;

    display: flex;
    justify-content: space-between;
    align-items: start;
    width: 90%;
    height: 75vh;
}

#test-questionnaire-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 47%;
    height: 100%;
    padding: 2%;

    background-color: var(--green-darker-darker);
    border: 2px solid var(--black);
    box-shadow: 8px 8px 0px var(--black);

    font-size: 1.8rem;
}

#test-questionnaire-container .question {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 38vw;
    height: 60vh;
    padding: 2%;

    background-color: var(--green-dark);
    border: 2px solid var(--black);
    box-shadow: inset 4px 4px 0px var(--black);

    color: var(--green-light);
}

#test-options-container {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 47%;
    height: 100%;
    padding: 2%;

    background-color: var(--green-dark);
    border: 2px solid var(--black);
    box-shadow: inset 8px 8px 0px var(--black);

    font-size: 1.8rem;
}

#test-options-container .btn-group {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    width: 38vw;
    height: 60vh;
    padding: 2%;

    background-color: #192b22;
    border: 2px solid var(--black);
    box-shadow: inset 4px 4px 0px var(--black);

    color: var(--green-light);
}

.btn-group button {
    width: 80%;
    height: 8vh;

    background-color: var(--green-darker);
    border: 4px solid var(--black);
    border-radius: 4px;
    box-shadow: 4px 4px 0px var(--black);

    font-family: 'Preahvihear', sans-serif;
    font-size: 1.4rem;
    color: var(--white-smoke);

    transition: all 0.2s ease;
}

.btn-group button:hover {
    background-color: var(--green-darker-alpha);

    box-shadow: none;
    transform: translate(2px, 2px);
}

.test-instruction {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: #000a;
    color: var(--gray-light);
}

.test-instruction-container {
    position: relative;
    z-index: 100;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 60vh;
    width: 60%;
    padding: 2%;

    background: var(--green-darker-darker);
    border: 4px solid var(--black);
    border-radius: 4px;

    font-family: 'Poppins', sans-serif;
    color: var(--gray-light);
    text-align: center;
}

.test-instruction-container h2 {
    display: flex;
    justify-content: center;

    width: 100%;

    font-size: 2em;
    color: var(--green-light);
}

.test-instruction-text-container {
    z-index: 100;

    width: 100%;
    height: 45vh;
    padding: 2%;

    background-color: var(--green-darker);
    border: 2px solid var(--black);
    box-shadow: inset 2px 2px 0px var(--black);

    overflow: auto;
}

.test-instruction-container p {
    z-index: 1;

    font-family: 'Preahvihear', sans-serif;
    font-size: 1.2em;
    text-align: left;
    color: var(--gray-light);
}

.skip-instruction-btn {
    width: 30%;
    height: auto;
    margin-top: 15px;
    padding: 8px 16px;

    background-color: var(--gray-darker);
    border: 2px solid var(--black);
    border-radius: 4px;

    font-weight: 800;
    color: var(--gray-light);

    cursor: not-allowed;
}

.skip-instruction-btn.enabled {
    background-color: var(--green-light);

    color: var(--green-darker-darker);

    cursor: pointer;
    transition: all 0.2s ease;
}

.skip-instruction-btn.enabled:hover {
    background-color: var(--green-light-alpha);
    box-shadow: 0px 6px 0px var(--black);

    transform: scale(1.1);
}

body.lock-scroll {
    overflow: hidden;
}

#card-container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card-inner {
    width: 30%;
    height: 80vh;
    transform-style: preserve-3d;
    position: relative;
    transition: transform 1s ease;
}

.card-front,
.card-back {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 80vh;
    padding: 3%;

    background-color: var(--gray-dark);
    border: 4px solid var(--black);
    border-radius: 4px;

    backface-visibility: hidden;
}

.card-front {
    z-index: 2;

    display: flex;
    justify-content: center;
    align-items: center;
    color: #87a96b;
    font-family: 'Poppins', sans-serif;
    font-size: 4rem;
    font-weight: 800;
    text-shadow: 4px 4px 0px var(--black);

    cursor: pointer;
    transition: all 0.2s ease;
}

.card-back {
    transform: rotateY(180deg);
    transition: all 0.2s ease;
}

.glowing {
    animation: glow 1s ease-in-out infinite alternate;
}

.inset-glowing {
    animation: inset-glow 1s ease-in-out infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px 10px var(--glow-color),
            0 0 5px 5px var(--glow-color);
    }
    50% {
        box-shadow: 0 0 100px 50px var(--glow-color),
            0 0 100px 50px var(--glow-color);
    }
    100% {
        box-shadow: 0 0 10px 10px var(--glow-color),
            0 0 5px 5px var(--glow-color);
    }
}

@keyframes inset-glow {
    0% {
        box-shadow: inset 0 0 60px var(--glow-color),
            inset 0 0 70px var(--glow-color);
    }
    50% {
        box-shadow: inset 0 0 100px var(--glow-color),
            inset 0 0 200px var(--glow-color);
    }
    100% {
        box-shadow: inset 0 0 60px var(--glow-color),
            inset 0 0 70px var(--glow-color);
    }
}

.card-svg {
    filter: drop-shadow(8px 8px 0px #111);
}

/* Type 1 - The Reformer */
.glowing-1 {
    --glow-color: #7c7a7a;
}

/* Type 2 - The Helper */
.glowing-2 {
    --glow-color: #ff2797;
}

/* Type 3 - The Achiever */
.glowing-3 {
    --glow-color: #ffcb20;
}

/* Type 4 - The Individualist */
.glowing-4 {
    --glow-color: #20a6ff;
}

/* Type 5 - The Investigator */
.glowing-5 {
    --glow-color: #8d67a3;
}

/* Type 6 - The Loyalist */
.glowing-6 {
    --glow-color: #ffff20;
}

/* Type 7 - The Enthusiast */
.glowing-7 {
    --glow-color: #ff6e21;
}

/* Type 8 - The Challenger */
.glowing-8 {
    --glow-color: #ff1d1d;
}

/* Type 9 - The Peacemaker */
.glowing-9 {
    --glow-color: #20ffa6;
}

.spinning {
    animation: smoothSpin 4s cubic-bezier(0.2, 0.5, 0.8, 1) forwards;
}

@keyframes smoothSpin {
    0% {
        transform: rotateY(0deg);
    }
    100% {
        transform: rotateY(2160deg);
    }
}

.flipped {
    transform: rotateY(180deg);
}

.card-name {
    display: flex;
    align-items: center;
    gap: 3%;

    width: 100%;
    height: 9vh;
    padding: 1% 3%;

    border: 4px solid var(--black);

    font-family: 'Poppins', sans-serif;
    font-size: 1.3rem;
    font-weight: 800;
}

.card-type {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;
    aspect-ratio: 1/1;

    border: 3px solid var(--black);
    border-radius: 4px;
}

.card-brief-description {
    padding: 4%;
    width: 100%;
    height: 30vh;

    border: 3px solid var(--black);

    font-size: 1.3rem;
    text-align: left;
}

.card-front,
.card-back {
    background-color: #4a6b3a;
    color: #1d3514;
}

.card-name,
.card-brief-description,
.card-img {
    background-color: #87a96b;
    border: 3px solid #2e5a1c;
    box-shadow: inset 4px 4px 0px var(--black), inset -2px -2px 0px var(--black);
}

.card-img {
    position: relative;

    width: 100%;
    height: 40vh;

    border: 4px solid var(--black);
    box-shadow: none;

    overflow: hidden;
}

.card-type {
    background-color: #2e5a1c;
    color: #87a96b;
}

.fade-out {
    animation: fadeOut 0.5s forwards;
}

.fade-in {
    animation: fadeIn 0.5s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        visibility: visible;
    }
    to {
        opacity: 1;
        visibility: visible;
    }
}

.card-img #card-svg-helper {
    position: absolute;
    left: 8%;
}

.card-img #card-svg-investigator {
    position: absolute;
    width: 110%;
    top: 4vh;
    left: 16%;
}
