:root {
    /* Greens */
    --green-primary: #1cb61c;
    --green-dark: #2c4a3b;
    --green-darker: #275e47;
    --green-darker-alpha: #275e47aa;
    --green-darker-darker: #183c2c;
    --green-light: #87c4a9;
    --green-light-alpha: #87c4a9aa;

    /* Grays */
    --gray-light: #f5f5f5;
    --gray-medium: #cccccc;
    --gray-dark: #888;
    --gray-darker: #2c2c2c;

    /* Neutrals */
    --white-smoke: #f1f1f1;
    --black: #111;

    /* Special Tones */
    --lavender-light: #f0f0ff;
}

.types-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    width: 100%;
    height: auto;
}

.types-section-middle-div {
    width: 100%;
    height: 2vh;

    background-color: var(--green-light);
    border-top: 2px solid var(--black);
}

.types-container-header {
    position: relative;
    z-index: 1;

    display: flex;
    justify-content: center;
    align-items: center;

    height: 94vh;
    width: 100%;

    padding: 8%;

    background: var(--green-darker-darker);
    border-bottom: 2px solid var(--black);

    color: var(--green-light);

    overflow: hidden;
}

.types-container-header h2 {
    display: block;

    width: 100%;
    max-width: 1920px;
    height: auto;
    margin-top: 10vh;

    font-family: 'Potta One', sans-serif;
    font-size: 5rem;
    text-align: left;
}

.types-container-divider-one {
    width: 100%;
    height: 3vh;
    background-color: #3f7a60;
}

.types-container-divider-two {
    width: 100%;
    height: 3vh;

    background-color: var(--green-light);
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);
}

.types-container-info {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
    width: 100%;

    padding: 8%;

    background: var(--green-darker);
    color: var(--green-light);
}

.types-container-text-box {
    position: relative;

    width: 100%;
    max-width: 1920px;
    height: 80vh;
    padding: 5%;

    background-color: var(--green-darker-darker);
    border: 2px solid var(--black);
    box-shadow: inset 15px 8px 0px var(--black);

    overflow: hidden;
}

.types-container-text-box h3 {
    display: inline-block;
    width: 70%;

    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    line-height: 2;
}

.types-container-text-box p {
    display: inline-block;
    width: 70%;

    font-family: 'Preahvihear', sans-serif;
    font-size: 2rem;
    line-height: 2.5;
}

.types-container-text-box #svg-types-poster {
    position: absolute;
    top: 0;

    height: 100vh;

    filter: drop-shadow(20px 8px 0px #111);
}

.types-container-personality-types-header {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 30vh;

    background-color: var(--green-darker-darker);
    border-top: 2px solid var(--black);
    border-bottom: 2px solid var(--black);

    font-family: 'Potta One', sans-serif;
    font-size: 2.5rem;
    color: var(--green-light);
}

.types-container-personalities {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20vh;

    width: 100%;
    height: auto;
    padding: 10% 8%;

    background-color: var(--green-darker);
}

.type {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 1920px;
}

.type h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 15vh;

    background-color: var(--green-light);
    border: 4px solid var(--black);

    font-family: 'Poppins', sans-serif;
    font-size: 2.5rem;
    color: var(--green-darker-darker);
}

.title-description-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 98%;
    height: 10vh;

    background-color: var(--green-light);
    border: 4px solid var(--black);
    border-top: none;
    box-shadow: inset 0px 6px 8px var(--black);

    font-family: 'Preahvihear', sans-serif;
    font-size: 1.2rem;
    color: var(--green-darker-darker);
}

.card-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    width: 96%;
    height: 60vh;
    padding: 1%;

    background-color: var(--gray-darker);
    border-left: 4px solid var(--black);
    border-right: 4px solid var(--black);
    box-shadow: inset 0 4px 6px var(--black), inset 0 -4px 6px var(--black);
}

.card {
    perspective: 1000px;
    width: 26%;
    height: 54vh;

    border-radius: 4px;

    cursor: pointer;
    transition: all 0.2s ease;
}

.card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: all 0.6s ease;
    transform-style: preserve-3d;
}

.card.flipped .card-inner {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    position: absolute;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    width: 100%;
    height: 100%;
    padding: 3%;

    background-color: var(--gray-dark);
    border: 2px solid var(--black);
    border-radius: 4px;

    backface-visibility: hidden;
}

.card-front {
    transition: all 0.2s ease;
}

.card-name {
    display: flex;
    align-items: center;
    gap: 5%;

    width: 100%;
    height: 7vh;
    padding: 0 3%;

    border: 2px solid var(--black);

    font-family: 'Poppins', sans-serif;
    font-weight: 800;
}

.card-img {
    position: relative;

    width: 100%;
    height: 30vh;

    border: 2px solid var(--black);
}

.card-type {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5vh;
    aspect-ratio: 1/1;

    border: 2px solid var(--black);
    border-radius: 4px;
}

.card-brief-description {
    padding: 2%;

    border: 2px solid var(--black);
}

.card-back {
    transform: rotateY(180deg);

    transition: all 0.2s ease;
}

.card-full-description {
    height: 100%;
    padding: 2%;

    border: 2px solid var(--black);
}

.card-front:hover {
    box-shadow: 0px 8px 0px var(--black);
    transform: translateY(-2vh);
}
.card-back:hover {
    box-shadow: 0px 8px 0px var(--black);
    transform: translateY(-2vh) rotateY(180deg);
}

.type-bottom {
    width: 100%;
    height: 5vh;

    background-color: var(--green-light);
    border: 4px solid var(--black);
}

.self-discovery {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100vh;
    padding: 5% 8%;

    background-color: var(--green-darker-darker);
    border-top: 2px solid var(--black);

    overflow: hidden;
}

.self-discovery-container {
    position: relative;
    z-index: 1;

    width: 100%;
    max-width: 1920px;
}

.self-discovery-quote {
    margin-bottom: 2rem;

    font-family: 'Poppins', cursive;
    font-size: 3rem;
    color: var(--green-light);
    line-height: 1.8;
}

.self-discovery-subtext {
    font-family: Preahvihear, sans-serif;
    font-size: 1.4rem;
    line-height: 2;
    color: var(--green-light);
}

.self-discovery-button {
    width: 30%;
    padding: 12px;
    margin-top: 2%;

    border: 2px solid var(--black);
    border-radius: 4px;
    background-color: var(--green-light);

    color: var(--green-darker-darker);
    text-align: center;
}

.self-discovery-button:hover {
    background-color: var(--green-light-alpha);
}

.card-front,
.card-back {
    background-color: #4a6b3a;
    color: #1d3514;
}

.card-name,
.card-brief-description,
.card-img,
.card-full-description {
    background-color: #87a96b;
    border: 2px solid #2e5a1c;
    box-shadow: inset 1px 1px 0px var(--black);
}

.card-img {
    position: relative;

    display: flex;
    justify-content: center;

    background-color: #4a6b3a;
    box-shadow: inset 10px 10px 0px #87a96b;

    overflow: hidden;
}

.card-img .card-svg {
    width: 110%;
}

.card-type {
    background-color: #2e5a1c;
    border: 2px solid var(--black);
    color: #87a96b;
}

#type-one .card-front,
#type-one .card-back {
    color: #292929;
}
#type-one .card-name,
#type-one .card-brief-description,
#type-one .card-img,
#type-one .card-full-description {
    border: 2px solid #292929;
}
#type-one .card-type {
    background-color: #292929;
}
#type-one #card-svg-reformer {
    position: absolute;
    filter: drop-shadow(5px 5px 0px #292929);
}
#type-one #card-svg-reformer path {
    fill: #87a96b;
    stroke: #292929;
}
#type-one #card-svg-reformer circle {
    fill: #87a96b;
    stroke: #292929;
}
/* Type 2 - The Helper */
#type-two .card-front,
#type-two .card-back {
    color: #3a001a;
}
#type-two .card-name,
#type-two .card-brief-description,
#type-two .card-img,
#type-two .card-full-description {
    border: 2px solid #3a001a;
}
#type-two .card-type {
    background-color: #3a001a;
}
#type-two #card-svg-helper {
    position: absolute;
    left: 7%;
    filter: drop-shadow(5px 5px 0px #3a001a);
}
#type-two #card-svg-helper path {
    fill: #87a96b;
    stroke: #3a001a;
}
#type-two #card-svg-helper circle {
    fill: #87a96b;
    stroke: #3a001a;
}

/* Type 3 - The Achiever */
#type-three .card-front,
#type-three .card-back {
    color: #241b00;
}
#type-three .card-name,
#type-three .card-brief-description,
#type-three .card-img,
#type-three .card-full-description {
    border: 2px solid #241b00;
}
#type-three .card-type {
    background-color: #241b00;
}
#type-three #card-svg-reformer {
    position: absolute;
    filter: drop-shadow(5px 5px 0px #241b00);
}
#type-three #card-svg-reformer path {
    fill: #87a96b;
    stroke: #241b00;
}
#type-three #card-svg-reformer circle {
    fill: #87a96b;
    stroke: #241b00;
}

/* Type 4 - The Individualist */
#type-four .card-front,
#type-four .card-back {
    color: #002747;
}
#type-four .card-name,
#type-four .card-brief-description,
#type-four .card-img,
#type-four .card-full-description {
    border: 2px solid #002747;
}
#type-four .card-type {
    background-color: #002747;
}
#type-four #card-svg-reformer {
    position: absolute;
    filter: drop-shadow(5px 5px 0px #002747);
}
#type-four #card-svg-reformer path {
    fill: #87a96b;
    stroke: #002747;
}
#type-four #card-svg-reformer circle {
    fill: #87a96b;
    stroke: #002747;
}

/* Type 5 - The Investigator */
#type-five .card-front,
#type-five .card-back {
    color: #190041;
}
#type-five .card-name,
#type-five .card-brief-description,
#type-five .card-img,
#type-five .card-full-description {
    border: 2px solid #190041;
}
#type-five .card-type {
    background-color: #190041;
}
#type-five #card-svg-investigator {
    position: absolute;
    top: 10%;
    left: 20%;
    filter: drop-shadow(5px 5px 0px #190041);
}
#type-five #card-svg-investigator path {
    fill: #87a96b;
    stroke: #190041;
}
#type-five #card-svg-investigator circle {
    fill: #87a96b;
    stroke: #190041;
}

/* Type 6 - The Loyalist */
#type-six .card-front,
#type-six .card-back {
    color: #303000;
}
#type-six .card-name,
#type-six .card-brief-description,
#type-six .card-img,
#type-six .card-full-description {
    border: 2px solid #303000;
}
#type-six .card-type {
    background-color: #303000;
}
#type-six #card-svg-reformer {
    position: absolute;
    filter: drop-shadow(5px 5px 0px #303000);
}
#type-six #card-svg-reformer path {
    fill: #87a96b;
    stroke: #303000;
}
#type-six #card-svg-reformer circle {
    fill: #87a96b;
    stroke: #303000;
}

/* Type 7 - The Enthusiast */
#type-seven .card-front,
#type-seven .card-back {
    color: #381300;
}
#type-seven .card-name,
#type-seven .card-brief-description,
#type-seven .card-img,
#type-seven .card-full-description {
    border: 2px solid #381300;
}
#type-seven .card-type {
    background-color: #381300;
}
#type-seven #card-svg-reformer {
    position: absolute;
    filter: drop-shadow(5px 5px 0px #381300);
}
#type-seven #card-svg-reformer path {
    fill: #87a96b;
    stroke: #381300;
}
#type-seven #card-svg-reformer circle {
    fill: #87a96b;
    stroke: #381300;
}

/* Type 8 - The Challenger */
#type-eight .card-front,
#type-eight .card-back {
    color: #350000;
}
#type-eight .card-name,
#type-eight .card-brief-description,
#type-eight .card-img,
#type-eight .card-full-description {
    border: 2px solid #350000;
}
#type-eight .card-type {
    background-color: #350000;
}
#type-eight #card-svg-reformer {
    position: absolute;
    filter: drop-shadow(5px 5px 0px #350000);
}
#type-eight #card-svg-reformer path {
    fill: #87a96b;
    stroke: #350000;
}
#type-eight #card-svg-reformer circle {
    fill: #87a96b;
    stroke: #350000;
}

/* Type 9 - The Peacemaker */
#type-nine .card-front,
#type-nine .card-back {
    color: #00331f;
}
#type-nine .card-name,
#type-nine .card-brief-description,
#type-nine .card-img,
#type-nine .card-full-description {
    border: 2px solid #00331f;
}
#type-nine .card-type {
    background-color: #00331f;
}
#type-nine #card-svg-peacemaker {
    position: absolute;
    top: 10%;
    left: 15%;
    filter: drop-shadow(5px 5px 0px #00331f);
}
#type-nine #card-svg-peacemaker path {
    fill: #87a96b;
    stroke: #00331f;
}
#type-nine #card-svg-peacemaker circle {
    fill: #87a96b;
    stroke: #00331f;
}

.enneagram-svg {
    position: absolute;
    top: -20vh;
    right: -25vw;
    z-index: -1;

    width: 70vw;

    color: var(--green-darker);
    filter: drop-shadow(6px 6px 0px var(--green-light-alpha));
    transform: rotate(240deg);
}

.enneagram-bottom-svg {
    position: absolute;
    bottom: -40vh;
    right: -25vw;
    z-index: -1;

    width: 70vw;

    overflow: hidden;
    color: var(--green-darker);
    filter: drop-shadow(6px 6px 0px var(--green-light-alpha));
}

.responsive-svg {
    width: 100%;
    height: auto;
    display: block;
}
